.finished {
  width: 100%;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.finished h3 {
  font-family: "Amatic SC", cursive;
  font-size: 3em;
  color: #fff;
  margin-bottom: 0em;
}

.finished h4 {
  font-family: "Amatic SC", cursive;
  font-size: 3em;
  color: #fff;
}

.finished .close-modal {
  width: 35%;
  margin-bottom: 0.5em;
  font-family: "Amatic SC", cursive;
  font-size: 2em;
  font-weight: 700;
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}
